<% content_for(:title, "Jonathan Thom") %>
<div class="row no-gutter">
  <%= link_to posts_path do %>
    <div class="col-sm-4 image-panel">
      <%= image_tag 'whiteboard.jpg' %>
      <div class="section-title">
        <h1>Projects</h1>
      </div>
    </div>
  <% end %>
  <%= link_to posts_path do %>
  <div class="col-sm-4 image-panel">
    <%= image_tag('olympics.jpg') %>
    <div class="section-title">
      <h1>Blog</h1>
    </div>
  </div>
  <% end %>
  <%= link_to posts_path do %>
    <div class="col-sm-4 image-panel">
      <%= image_tag 'jonathan.jpg' %>
      <div class="section-title">
        <h1>About Me</h1>
      </div>
    </div>
  <% end %>
</div>
