<% content_for(:title, "Jonathan Thom | Projects") %>

<% content_for(:page_title, "Projects") %>

<div class="container">
  <div class="row">
    <div class="col-sm-10 col-sm-push-2">
      <h1 class="text-left">Featured Sites</h1>
      <% @featured.each do |project| %>
        <div class="row">
          <div class="col-sm-6">
            <h2><%= project.title %></h2>
            <h3 class="text-left"><%= project.tech %></h3>
            <h4>Collaborators: <%= project.collaborators %></h4>
            <p class="post"><%= project.description %></p>
            <p><%= link_to 'Github', project.github %></p>
            <p><%= link_to project.deployed, project.deployed %></p>
          </div>
          <div class="col-sm-6">
            <%= image_tag project.image.url, :class => 'profile-image' %>
          </div>
        </div>
        <hr>
      <% end %>
    </div>
    <div class="col-sm-2 col-sm-2 col-sm-pull-10">
      <h3 class="text-left">Recently Updated</h3>
      <% if @recent.kind_of?(Array) %>
      <% @recent.each do |project| %>
      <p><%= link_to project['name'], project['html_url'] %></p>
      <% end %>
      <% end %>

      <h3 class="text-left">Starred</h3>
      <% if @top_starred.kind_of?(Array) %>
      <% @top_starred.each do |project| %>
      <p><%= link_to project['name'], project['html_url'] %></p>
      <% end %>
      <% end %>
    </div>
  </div>
</div>
