<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="row header">
      <div class="intro col-sm-12">
        <h1><%= link_to "Jonathan Thom", root_path %></h1>
        <ul>
          <li><%= mail_to('jonathan.thom1990@gmail.com', image_tag('email.png'), encode: "hex") %></li>
          <li><%= link_to image_tag('github.png'), 'https://github.com/JonathanWThom' %></li>
          <li><%= link_to image_tag('twitter.png'), 'https://twitter.com/JonathanWThom' %></li>
          <li><%= link_to image_tag('instagram.png'), 'https://www.instagram.com/jwthom/' %></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="page-title">
        <h2><%= yield(:page_title) %></h2>
      </div>
    </div>

    <%= yield %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </body>
</html>
